
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  @apply bg-background text-secondary font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
